<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add todo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: white;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
            position: relative;
        }

        .table-container {
            background: #fdeede;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 100%;
            max-width: 800px;
            position: relative;
            z-index: 1;
            max-height: 1000px;
        }

        .todo-title {
            color: #ff6b6b;
            text-align: center;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 15px;
            margin: 5px 0;
            color: #fff;
            background-color: #ff6b6b;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 14px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #ff6b6b;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #ff6b6b;
            font-weight: bold;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: #ff6b6b;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .form-group button:hover {
            background-color: #ff4b4b;
        }

        .corner-image {
            position: absolute;
            width: 100px;
            height: 100px;
            z-index: 0;
        }

        .corner-image.top-left {
            top: 0px;
            left: 0px;
            height: 400px;
            width: 270px;
        }

        .corner-image.top-right {
            top: 0px;
            right: 0px;
            height: 300px;
            width: 250px;
        }

        .corner-image.bottom-left {
            bottom: 10px;
            left: 10px;
        }

        .corner-image.bottom-right {
            bottom: 0px;
            right: 0px;
            height: 400px;
            width: 300px;
        }
    </style>
</head>

<body>
    <img src="https://www.drawing123.com/wp-content/uploads/2023/09/How-to-draw-a-teddy-bear-Step-8-7.jpg" class="corner-image top-left" alt="Decoration">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKPYn3cNKCfoEN09irk3x96vDyoia9pgL-6sHvke4YwT5TbyDyiJ-_L4uLA_1O9mfuiiY&usqp=CAU" class="corner-image bottom-right" alt="Decoration">

    <div class="table-container">
        <h2 class="todo-title">Add New Todo</h2>
        <div>
            <a class="btn" href="/">Back</a>
            <form action="/add-todo" method="post">
                <br>
                <div class="new-todo">
                    <div class="form-group">
                        <label for="title" class="text-light">Title</label>
                        <input type="text" name="title" value="" placeholder="Type todo here" required="required" />
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="desc" class="text-light">Description</label>
                        <input type="text" name="desc" value="" placeholder="Type description here" />
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn">Add Todo</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
